<ul class="post-list">
{% for post in site.posts %}
    {% if post.categories contains include.name %}
    <li class="post-item">
        <img src="/assets/posts/{{ post.image_top }}" alt="{{ post.title }}">
        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% include l10n-post.html post=post.l10n index=0 %}
            </a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <br>
            <span class="post-meta">
                {% include l10n-post.html post=post.l10n index=1 %}
            </span>
        </h2>
    </li>
    {% endif %}
{% endfor %}
</ul>
