<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}
    {% if site.debug == true %}
      BUILD: {{ site.time | date_to_rfc822 }}
    {% endif %}
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a class="page-link set-lang" href="#language/pt-br" title="PT-BR" lang="pt"><span class="flag-icon flag-icon-br"></span></a>
            <a class="page-link set-lang" href="#language/en-us" title="EN-US" lang="en"><span class="flag-icon flag-icon-us"></span></a>
          </li>
          <li class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>
            <a href="#support" rel="modal:open">
              <b>{% include l10n.html term="support" %}</b>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{% include l10n.html term="description" %}</p>
      </div>
    </div>

  </div>

  <div id="support" style="display:none;">
            <ul class="contact-list" style="text-align:center;margin-bottom:0px;">
            <li>
              <a href='https://pledgie.com/campaigns/31864'>
                <img style="-webkit-filter: hue-rotate(3rad) saturate(200%);filter: hue-rotate(3rad) saturate(200%);" alt='Click here to lend your support to: Ren&#x27;Py Package for Atom and make a donation at pledgie.com!' title='Click here to lend your support to: Ren&#x27;Py Package for Atom and make a donation at pledgie.com!' src='https://pledgie.com/campaigns/31864.png?skin_name=chrome'>
              </a>
            </li>
            <li>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
              <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
              <input type="hidden" name="currency" value="BRL" />
              <input type="hidden" name="receiverEmail" value="tumeowilliam@gmail.com" />
              <input type="hidden" name="iot" value="button" />
              <input title="Clique para dar suporte! (usando R$)" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/94x52-doar-roxo-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </li>
            </ul>
          </div>

</footer>
