{% for p in site.data.posts[include.post] %}
    {% if p.lang == site.lang %}
    <span class="l10n-set" lang="{{p.lang}}">
    {% else %}
    <span class="l10n-hide" lang="{{p.lang}}">
    {% endif %}
        <iframe class="gist-frame" src="/gist.html?{{ p.terms[include.index] }}" width="100%" height="{{ include.height }}px"></iframe>
    </span>
{% endfor %}
