/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    min-height: 56px;
    background-color: #5b1586;
    box-shadow: inset 0px 7px 22px rgba(30, 1, 48, 0.49);

    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
    z-index: 1;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    box-shadow: 0px 3px 0px 3px #70249e;
    background-color: #8c3cbd;
    padding: 0 30px;
    text-shadow: 0px 0px 3px #210631;

    &,
    &:visited {
        color: white;
    }
    &:hover{
        box-shadow: 0px 3px 0px 3px #70249e,
            inset 0px 0px 12px rgba(91, 21, 134, 0.49),
            inset 0px 47px 0px rgb(140, 60, 189);
        transition: cubic-bezier(0.55, 0.09, 0.68, 0.53) 0.2s;
        color: white;
    }
    @include media-query($on-palm) {
        padding: 0 6px;
        font-size: 20px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;
        transition: cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.2s;
        padding: 14px;
        font-weight: bold;
        text-shadow: 0px 0px 3px black;
        //background-color: #702f98;
        //box-shadow: 0px 0px 1px 8px #702f98;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            //margin-right: 20px;
        }

        &:hover {
           // box-shadow: 0px 0px 0px 8px #62228a;
           // background-color: #62228a;
            text-decoration: none;
            border-bottom: solid 6px #8c3cbd;
            @include media-query($on-palm) {
                border-bottom: none;
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $brand-color;
        border: 1px solid $grey-color-light;
        // border-radius: 5px;
        text-align: right;



        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        &:hover {
            box-shadow: -2px 2px 1px 2px rgba(0, 0, 0, 0.44);
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            background-color: initial;
            box-shadow: none;

            &:hover {
                box-shadow: none;
                background-color: initial;
                text-decoration: underline;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 100px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        float: left;
    }
    .post-item {
        padding: 11px 11px 0px 11px;
        &:hover {
            background-color: #e5d8ec;
        }
        @include media-query($on-palm) {
            width: 100%;
        }
    }
    img {
        width: 140px;
        float: left;
        margin-right: 12px;
        margin-bottom: 13px;
        @include media-query($on-palm) {
            width: auto !important;
        }
    }
    h2 {
        width: 354px;
        height: 165px;
        line-height: 23px;
        @include media-query($on-palm) {
            width: auto;
            height: auto;
            clear: both;
        }
    }
}

.posts-header {
    margin-bottom: 25px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    @include media-query($on-palm) {
        float: left;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

iframe[id^="ghcard"] {
    @include media-query($on-palm) {
        width: 100%;
    }
}

img.image-top {
    float: right;
    width: 200px;
    @include media-query($on-palm) {
        float: left;
    }
}

.image-desc {
    font-style: italic;
}

.centered {
    text-align: center;
}

a[href="#support"] {
    background-color: #8c3cbd;
    color: white;
    padding: 4px;
    line-height: 30px;
    text-shadow: 0px 0px 1px black;
    &:hover {
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.49);
    }
}
