body{
    font-family: Helvetica;
    padding: 10px;
}

p, h2{
    margin: 10px 0px;
    padding: 10px;
    background-color: #211439;

}

p{
    border: solid 4px #211439;
}

p:hover{
    border: solid 4px black;
    box-shadow: 4px 1px 1px 1px #AD0505;
}

a{
    border: solid #fff;
    padding: 5px;
    background-color: #000;
    text-decoration: none;
    line-height: 50px;
}

a, p, h2{
    letter-spacing: 1px;
    color: #fff;
}

h2{
    font-weight: normal;
    border: solid 5px #8E2C2C;
    font-size: 20px
}

a:hover{
    background-color: rgb(36, 14, 78);
    padding: 7px;
}
a:hover, button:hover{
    text-shadow: 2px 2px 2px black;
}

button{
    cursor: pointer;
    border-radius: 0px;
    border: solid #000;
    color: #fff;
    font-weight: bold;
    background-color: #4f0d15;
    padding: 10px
}
button:hover{
    background-color: #691c25;
}
button:focus{
    background-color: #b01f1f;
}

#all:focus,#clear:focus{
    background-color: #691c25;
}

select, input{
    padding: 10px;
    border: solid rgb(12, 33, 98);
    border-radius: 5px;
    font-size: 20px
}

i{
    color: red;
}
.verde{
    color: green;
}
li{
    list-style: none;
}

input.alert{
    border-color: red;
}
input.result{
    border-color: green;
}

input.sort, input#sexo{
    padding-left: 5px;
    width: 50px;
}

span#calc{
    line-height: 20px
}
