
html, body {
    font-family: helvetica;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: gray;
}

.nav a:hover, .header a:hover{
    color: white;
    background: #a2a2a2;
    text-shadow: 0px 0px 3px black;
}

div.menu{
    background: whitesmoke;
    padding: 5px 0px 0px 0px;
}

div.nav{
    text-align: right;
}

.nav a{
    margin: 0 10px;
    padding: 5px;
}

div.header{
    float: left;
    text-align: left;
}

.header a {
    padding: 5px;
}

.usuario {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.message {
    display: none;
    background-color: #B52828;
    color: white;
    padding: 6px;
    margin: 10px;
    max-width: 160px;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
