---
layout: post
title: "Ren'Py Package for Atom"
l10n: renpy_atom
date:   2015-02-07 01:05:00 -0300
categories: projects
tags: [projects, python, ren'py, coffee-script, extension]
image_top: renpy-atom.png
---
<h1>{% include l10n-post.html post="renpy_atom" index=0 %}</h1>

<p>{% include l10n-post.html post="renpy_atom" index=1 %}</p>

<p>
<code>WIP</code>
</p>

<p>{% include github-card.html repo="williamd1k0/language-renpy" %}</p>