---
layout: post
title: "Scout Camp"
l10n: scoutcamp
date:   2016-02-15 00:44:43 -0300
categories: projects
tags: [projects, python, html]
image_top: scoutcamp.png
---
<h1>{% include l10n-post.html post="scoutcamp" index=1 %}</h1>

<p>{% include l10n-post.html post="scoutcamp" index=2 %}</p>
<p>{% include l10n-post.html post="scoutcamp" index=3 %}</p>
<p>{% include l10n-post.html post="scoutcamp" index=4 %}</p>
<p>{% include l10n-post.html post="scoutcamp" index=5 %}</p>
<img src="/assets/posts/camp-temp.png" alt="Template" />
<p class="centered image-desc">{% include l10n-post.html post="scoutcamp" index=6 %}</p>
<p>{% include l10n-post.html post="scoutcamp" index=7 %}</p>
<h1>{% include l10n-post.html post="scoutcamp" index=8 %}</h1>
<p>
    {% include l10n-gist.html post="scoutcamp" index=9 height="565" %}
</p>
<h1>{% include l10n-post.html post="scoutcamp" index=10 %}</h1>
<p>{% include l10n-post.html post="scoutcamp" index=11 %} <a href="https://github.com/williamd1k0/scout-camp/releases/download/v1.2.0/scout-camp-1.2.0-x86.7z.exe">v1.2.0 x86</a></p>
<p>{% include l10n-post.html post="scoutcamp" index=12 %} <a href="https://github.com/williamd1k0/scout-camp-template/archive/master.zip">GitHub zip</a></p>
<p>{% include l10n-post.html post="scoutcamp" index=13 %} <a href="https://github.com/williamd1k0/scout-camp/archive/master.zip">GitHub zip</a></p>
<p>{% include l10n-post.html post="scoutcamp" index=14 %} <a href="https://github.com/williamd1k0/scout-camp">GitHub Repo</a></p>

<p>{% include github-card.html repo="williamd1k0/scout-camp" %}</p>