---
layout: post
title: "Monster Hunter Pocket"
l10n: mhp
date:   2016-08-23 17:49:47 -0300
categories: projects
tags: [monster hunter, one button jam, jam, demake]
image_top: mhp.png
---
<h1>{% include l10n-post.html post="mhp" index=1 %}</h1>

<p>
    <iframe frameborder="0" src="https://itch.io/embed/80802?linkback=true&amp;bg_color=ffffff&amp;fg_color=222222&amp;link_color=56b96e&amp;border_color=83b87a" width="100%" height="167"></iframe>
</p>