html, body {
	font-family: Helvetica;
	background-color: #4D6984;
}

a {
	text-decoration: none;
}

div.main{
	//margin: -10px;
}

div.header {
	//border: solid 2px red;
	font-size: 70px;
	text-align: center;
	background-color: #FFE22D;
}

.header img {
	width: 200px;
}

div.nav-bar {
	//border: solid 2px purple;
	text-align: center;
	font-size: 30px;
	background-color: yellow;
}

.nav-bar a{
	margin: 0px -3px;
	padding: 2px 9px;
	color: #002060;
}

.nav-bar a:hover{
	border-radius: 0 0 5px 5px;
	background-color: #FDD016;
	padding: 0 10p 3px 10px;
}

div.content {
	//border: solid 2px green;
	margin-top: 10px;
}

.content iframe {
	text-align: center;
	margin: auto;
}

div.footer{
	//border: solid 2px blue;
	text-align: center;
	bottom: -122px;
	position: relative;
}