---
layout: default
---

<div class="home">

  <h1 class="page-heading">
    {% include l10n-page.html page="wellcome" index=0 %}
  </h1>
  <h1 class="page-heading">
    {% include l10n-page.html page="wellcome" index=1 %}
  </h1>

  <hr style="margin-bottom: 50px;">

  <h1 class="posts-header">
    {% include l10n.html term="posts" %}
  </h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <img src="/assets/posts/{{ post.image_top }}" alt="{{ post.title }}">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% include l10n-post.html post=post.l10n index=0 %}
          </a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <br>
          <span class="post-meta">
            {% include l10n-post.html post=post.l10n index=1 %}
          </span>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
