html{
    visibility: hidden;
    font-family: consolas;
}
pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px Monospace;
  color:white;
  display:block;
}

pre .line-number {
    float: left;
    margin: 0px 0em 0 -1em;
    border-right: 1px solid;
    text-align: right;
    background-color: #23241f;
    padding: 6px 0;
}

pre .line-number span {
    display: block;
    padding: 0px .5em 0 1em;
    line-height: 15.9px;
}

pre .cl {
  display:block;
  clear:both;
}
a{
    color: #1a1832;
    float: right;
    margin-bottom: 7px;
    text-decoration: none;
}a:hover{
    text-shadow: 2px 2px 5px gray;
}
a.lista {
    float: none;
    margin: 0 0;
    background-color: #B2B2E0;
    padding: 6px;
    line-height: 35px;
    border-radius: 3px;
    }a.lista:hover{
        background-color: #c9c9e2;
    }
