
@import url(https://fonts.googleapis.com/css?family=Marck+Script);

body{
  font-family: Marck Script;
  background: #27282d;
}

#pagina {
	margin: 10px;
}

#header {
border-radius:25px;
	/*margin: 10px; */
}

#header img{
  width: 100%;
  border-radius:25px;
}

#nav-bar {
	border-radius: 15px 15px  0px 0px ;
	margin: 10px;
	margin-bottom: -10px;
	text-align: right;
	font-family: Calibri;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	background: #fc629c;
	padding: 0px 8px 18px 8px;
}

#nav-bar a{
margin-right:7px;
text-decoration: none;
color: white;
padding:0px 14px 4px 14px;
border-radius: 10px 10px 100px 100px ;
transition: background 400ms ease;
background: #F8A;
}
#nav-bar a:hover{
color: #fdfe58;
background: #B46;
}


#conteudo {
	//border: solid 1px orange;
	margin: 10px;
        background: #FEE;
       padding: 15px
}

.sobre, form, p{
	padding: 0px 25px;
	font-family: calibri;
	text-align: justify;
}

.slide {
    border-radius: 5px;
    margin: 8px;
    overflow-x: auto;
}

.slide img{
  max-height: 200px;
  margin: 2px;
}

.slide table{
	width: 100%;
  background-color: #27282d;
}

.title{
background:#F79;
padding:2px 10px;
border-radius: 20px 10px 110px 20px;
width:200px;
color:white;
}

p {
    font-size: 20px;
}

.galeria img{
	width: 95%;
  	max-height: 100%;
}

.galeria.comics img{
  //max-height: 400px;
}

a{
	text-decoration: none;
	color: inherit;
}

a:visited{
	color: inherit;
}
