---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% include l10n.html term=page.l10n %}
    </h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
