---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{% include l10n-post.html post=page.l10n index=0 %}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <img class="image-top" src="/assets/posts/{{ page.image_top }}" alt="{{ page.title }}">

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta">
      Tags: {% for tag in page.tags %}<i class="post-tag"> {{ tag }} </i>{% endfor %}
  </p>

  <div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.categories[0] }}-{{ page.title }}";
    };

    (function() {
        var d = document, s = d.createElement('script');

        s.src = '//tumeopurpleblog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
